name: Create Release Tag After Pull-request Into Main
on:
  pull_request:
    types: [closed]
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Create Release Tag After Pull-request Into Main
      id: release_tag_version
      uses: mathieudutour/github-tag-action@v6.0
      with:
          default_bump: minor
          github_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Create a GitHub Release
      uses: ncipollo/release-action@v1
      with:
          tag: ${{ steps.release_tag_version.outputs.new_tag }}
          name: Release ${{ steps.release_tag_version.outputs.new_tag }}
          body: ${{ steps.release_tag_version.outputs.changelog }}
